<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начална страница на туристическа компания</title>
    <link rel="stylesheet" href="~/css/homepageCSS.css">
</head>
<body>
  

    <section class="hero">
        <div class="background"></div>
        <div class="container">
            <h2>Добре дошли в TravelX</h2>
            <p>Открийте вашето следващо приключение с нас.</p>
        </div>
    </section>

    <section class="how-it-works">
        <div class="background"></div>
        <div class="container">
            <h2 style="text-align:center">Как работи</h2>
            <div class="steps">
                <div class="step">
                    <h3>Избирате дестинациите</h3>
                    <p>Избирате обявата,която най-добре отговаря на вашите изисквания!</p>
                </div>
                <div class="step">
                    <h3>Резервирайте вашето пътуване</h3>
                    <p>Избирате бройката на хората,които ще пътуват с вас и резервирайте пътуването си без проблеми!</p>
                </div>
                <div class="step">
                    <h3>Насладете се на вашето пътуване</h3>
                    <p>Оставете оценка и коментар за вашето пътуване!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="background"></div>
        <div class="container">
            <h2>Това което ние Ви предоставяме</h2>
            <div class="services-grid">
                <div class="service">
                    <h3>Опция за качваване на обява</h3>
                    <p>Предоставяме ви лесна форма за попълване на това ваше пътуване ,на което искате да спестите от разходи за гориво</p>
                </div>
                <div class="service">
                    <h3>Опция за резервиране на обява </h3>
                    <p>Предоставяме ви лесни филтри за търсене с които да ви излязат всички обяви, които ви устройват</p>
                </div>
                <div class="service">
                    <h3>Опция за отзиви</h3>
                    <p>Предоставяме и оцпия да напишете отзив след използаване на обява ,за да улесните следващите хора, които милсят да ползват обява от същия човек</p>
                </div>
            </div>
        </div>
    </section>  
    <section class="feedback">
        <div class="background"></div>
        <div class="container">
            <h2>Обратна връзка</h2>
            <form action="https://api.web3forms.com/submit" method="POST">

                <input type="hidden" name="access_key" value="12edfb2e-e8c0-4405-9430-615fc2d75647">
                Име
                <input type="text" name="name" required>
                Имейл
                <input type="email" name="email" required>
                Съобщение
                <textarea name="message" required></textarea>
                <div class="h-captcha" data-captcha="true"></div>
                <button type="submit">Изпрати</button>

            </form>
            <script src="https://web3forms.com/client/script.js" async defer></script>
        </div>
    </section>


    <footer>
        <div class="container">
            <p>&copy; 2024 TravelX. Всички права запазени.</p>
            <ul>
                <li><a href="#">Политика за поверителност</a></li>
                <li><a href="#">Условия за ползване</a></li>
            </ul>
        </div>
    </footer>
        
    <script src="~/js/mainpageJs.js"></script>
</body>
</html>

