@model travelingExperience.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body{
            background-image:url('../css/blueCar.png');
             background-size: cover;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
             background-position: center ;
        }
        .container {
            margin-top: 50px;
        }

        h1 {
          color: #007bff;
          font-size: 36px;
          font-weight: bold; 
          text-align: center; 
          text-shadow: -1px -1px 0 #fff,  
                  1px -1px 0 #fff,  
                  -1px 1px 0 #fff,  
                  1px 1px 0 #fff;
        }

        form {
            background-color: transparent;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 5px;
        }

        .btn-primary {
            border-radius: 5px;
        }

        .control-label {
            color:white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
               <b><h1 class="text-center">Влизане</h1></b> 
                <hr />
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Потребителско име</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Парола</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" asp-for="RememberMe" />
                        <label class="form-check-label" for="RememberMe"style="color:white">Запомни ме</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Влизане</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk+XvZtUNv/Z9vToR0skBvV+pFfnD0uHsSc" crossorigin="anonymous"></script>
</body>
</html>

