body {
    font-family: Arial, sans-serif;
    background-image: url('give me a car i 971aad93-6e1d-4a9d-8974-4bbf6f78eef3.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold; /* Make the h1 text thicker */
}

.profile-info {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .profile-info p {
        margin-bottom: 10px;
        font-weight: bold; /* Make the paragraph text thicker */
    }

.comments-section {
    margin-top: 30px;
}

    .comments-section h2 {
        color: white;
        margin-bottom: 20px;
        font-weight: bold; /* Make the h2 text thicker */
    }

.comment {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

    .comment p {
        margin-bottom: 5px;
        font-weight: bold; /* Make the comment text thicker */
    }
